#gallery a {
    color: mediumslateblue;
    border-bottom: 2px solid mediumslateblue;
    padding-bottom:  3px;
    text-decoration: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
    align-content: space-around;
    width: 75%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    top: 120px;
    height: auto;
    margin-bottom: 10px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 50px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout for pictures, two column (800px) or stack (600px)*/
@media screen and (max-width: 600px) {
    .column {
        flex: 50%;
        max-width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}