<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link href='https://fonts.googleapis.com/css?family=Montserrat|Rubik|Roboto|Shadows+Into+Light' rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="../stylesheets/page_layout.css">
    </head>
    <body>
        <!-- top header, consistent with every page -->

        <!-- corner icon -->

        <!-- page navigation -->
        <div id="topBar">
            <ul>
                <li id="aboutMe">
                    <a>

                    </a>
                </li>

                <li id="projects">
                    <a>

                    </a>
                </li>

                <li id="gallery">
                    <a>

                    </a>
                </li>

                <li id="contactMe">
                    <a>

                    </a>
                </li>
            </ul>
        </div>
    </body>
</html>