<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Projects</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Rubik|Roboto|Shadows+Into+Light' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="../stylesheets/page_layout.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/projects.css">
</head>
<body>
<!-- top header, consistent with every page -->

<!-- corner icon -->
<img src="../images/gen_boutons.png" alt="Viktor Zhuang" id="cornerLogo">
<div id="nameTitle">VIKTOR <br>ZHUANG</div>
<!-- circle divider -->
<div class="circle"></div>
<div class="line"></div>
<!-- page navigation -->
<div id="topBar">
    <ul>
        <li id="aboutMe">
            <a href="home.html">
                <img src="../images/about.png" alt="About Me" class="icon">
                about me
            </a>
        </li>

        <li id="projects">
            <a href="projects.html">
                <img src="../images/projectColor.png" alt="Projects" class="icon">
                projects
            </a>
        </li>

        <li id="gallery">
            <a href="gallery.html">
                <img src="../images/gallery.png" alt="Gallery" class="icon">
                gallery
            </a>
        </li>

        <li id="contactMe">
            <a href="contact.html">
                <img src="../images/contact.png" alt="Contact Me" class="icon">
                contact me
            </a>
        </li>
    </ul>
</div>

<div class="scrollbar" id="purpleStyle">

</div>

<div class="footer"> Welcome to my site</div>
</body>
</html>